
.full{
  height: 100%;
  width: 100%;
}
.full-width{
  width: 100%;
}
.full-height{
  height: 100%;
}
.grow{
  flex-grow: 1;
}
.flex{
  display: flex;
}
.row{
  .flex;
  flex-direction: row;
}
.col{
  .flex;
  flex-direction: column;
}
.s{
  .row;
  align-items: center;
  justify-content: center;
}
.ws{
  .col;
  justify-content: flex-start;
  align-items: stretch;
}
.wx {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.ad{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.s{
  display: flex;
  justify-content: center;
  align-items: center
}
.text-danger{
  color: red;
}